# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.pytest_cache/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project data
data/*
!data/.gitkeep
